<footer role="contentinfo">
    <div class="inner">
        <div class="vcard">
            <a href="{{@blog.url}}/rss" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            {{#if @blog.logo}}
            <a href="{{@blog.url}}" class="photo circle">
                <span style="background-image: url('{{@blog.logo}}');">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                </span>
            </a>
            {{/if}}

            <div class="details">
                <h4><a href="{{@blog.url}}" class="url n">{{@blog.title}}</a></h4>
                <!-- <a href="{{@blog.url}}" class="js-remove-domain-schema">{{@blog.url}}</a><br> -->
                <span>
                    <a href="https://github.com/huarxia">出现bug了,快去看下吧</a>
                </span>
                <!-- <span>Published with <a href="https://ghost.org">Ghost</a> &amp; <a href="http://www.ghostchina.com">GhostChina</a></span> -->
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{!-- TODO: Parse HTML for links --}}
                {{@blog.description}}
            </div>
        </div>
    </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260920122'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260920122%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>
